<div class="footer-container flex-row">
    <span class="footer-left-side">
        © <a href="/">FMphonebook</a>. All Rights Reserved
    </span>
    <div class="footer-center flex-row">
        <a href="https://www.facebook.com/FMphonebook"><img src="/images/Social/facebook.png" class="footer-social-img"></a>
    </div>
    <div class="footer-right-side flex-row">
        <li><a class="footer-link" href="/">Home</a></li>
        <li><a class="footer-link" href="/Privacy">Privacy</a></li>
        <li><a class="footer-link" href="/Terms">Terms</a></li>
        <li><a class="footer-link" href="/Contact">Contact Us</a></li>
    </div>
</div>