.modal-overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
    transition: 200ms ease-in-out;
    
}

.modal-overlay-active{
    opacity: 1;
    pointer-events: all;
}

.modal{
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    background-color: white;
    border-radius: 20px;

    width: 650px;
    max-width: 80%;
    height: 500px;
    
    z-index: 2;
}

.modal-active{
    transform: translate(-50%, -50%) scale(1);
    justify-content: center;
    align-items: center;
}

.modal-container{
    width: 90%;
    height: 100%;
}

.modal-header{
    color:#235266;
}

.modal-first-row{
    justify-content: space-between;
    padding-bottom: 20px;
}

.modal-clear-btn{
    background-color: #BFCFDF;
    border-radius: 10px;
    width: 208px;
    height: 42px;
    border: none;
    color: white;
}

.modal-add-post-btn{
    background-color: #37AE62;
    border-radius: 10px;
    width: 208px;
    height: 42px;
    border: none;
    color: white;
    margin-right: 10px;
}

.modal-first-row-right{
    width: 50%;
}

.form-input-modal
{
    width: 150px;
    height: 42px;
}

.modal-post-body{
    height: 300px;
    border-radius: 10px;
    border: 1px solid #EAF2FA;
}

.hidden{
display: none;
}

.trix-button--icon-increase-nesting-level,
.trix-button--icon-decrease-nesting-level,
.trix-button-group--block-tools,
.trix-button-group--file-tools,
.trix-button--icon-link
 { display: none !important; }