html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: Lato;
    size: 14px;
    color: black;
    background-color: #004352;
    min-height: 100vh;
    margin: 0;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.form-input{
    border-radius: 10px;
    border: 1px solid #EAF2FA;
    background: white;
    width: 250px;
    height: 32px;
    color: #235266;
    padding-left: 15px;
    outline: none;
}

.form-input:focus {
    border: 1px solid #E59925;
}
