
.search-form-container {
    width: 100%;
    background-color: white;
    border-radius: 20px;
    align-items: center;
    justify-content: space-evenly;
    height: auto;

}


.form-input{
    border-radius: 10px;
    border: 1px solid #EAF2FA;
    background: white;
    width: 160px;
    height: 32px;
    color: #235266;
    outline: none;
}

.search-form-inputs-container {
    width: 95%;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
}

.form-input:focus {
    border: 1px solid #E59925;
}

.search-form-submit-btn{
    background-color: #37AE62;
    border-radius: 10px;
    width: 100px;
    height: 42px;
    border: none;
    color: white;
}

.search-form-Clear-btn{
    background-color: #BFCFDF;
    border-radius: 10px;
    width: 100px;
    height: 42px;
    border: none;
    color: white;
}