.main-container {
    height: 100%;
    width: 70%;
    margin: auto;
    
}

.grid-container {
    display: grid;
    grid-template-rows: minmax(80px, auto) minmax(80px, auto) minmax(80px, auto) 60px;
    grid-auto-columns: auto;
    grid-template-areas: "navigation" "searchForm" "searchResults" "footer";
    row-gap: 10px;
    column-gap: 15px;
    background-color: #EBF2F6;
}


.navigation-grid-item {
    grid-area: navigation;

}

.search-form-grid-item {
    grid-area: searchForm;
    padding-right:15px;
    padding-left:15px;
}

.search-results-grid-item {
    grid-area: searchResults;
    padding-right:15px;
    padding-left:15px;
}

.footer-grid-item {
    grid-area: footer;
    padding-right:15px;
    padding-left:15px;
}
